<section class="slice bg-white pt-0">
  <div data-offset-top="#navbar-main">
    <div class="container py-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 text-center my-5">
          <h3>¡Gracias por colaborar con nosotros!</h3>
          <h5>Tu aplicación está siendo revisada. Podés ver el estado de tus aplicaciones <%= link_to "aquí", dashboard_path, class: "card-link text-primary" %></h5>
        </div>
      </div>
    </div>
    <div class="shape-container shape-position-bottom shape-reverse">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
      </svg>
    </div>
  </div>
</section>

<section class="slice bg-ecodev pt-0">
  <div class="container text-center">
    <h4 class="text-white">¡No te quedes esperando! Ofrecemos proyectos similares</h4>
    <div class="cards p-3 mt-5">
      <% @projects.each do |project| %>
        <%= link_to project_path(project), class: "card-link" do %>
          <div class="card-trip h-100">
            <%= cl_image_tag project.photos[0].key %>
            <div class="card-trip-infos">
              <div>
                <div class="card-techs"><%= project.technologies %></div>
                <h2 class="my-2"><%= project.name %></h2>
                <p><%= project.description.truncate_words(20) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
