<section class="slice bg-white pt-0">
  <div data-offset-top="#navbar-main">
    <div class="container pb-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 text-center">
          <%= image_tag "office.svg", style: "width: 424px" %>
        </div>
      </div>
    </div>
    <div class="shape-container shape-position-bottom shape-reverse">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
      </svg>
    </div>
  </div>
</section>

<section class="slice bg-ecodev pt-0">
  <div class="container text-center">
    <h4 class="text-white">¡Explorá los proyectos disponibles!</h4>
    <div class="cards p-3 mt-5">
      <% @projects.each do |project| %>
        <%= link_to project_path(project), class: "card-link" do %>
          <div class="card-trip">
            <div class="card-category-lewagon" style="background-image: url(<%= rails_blob_url( project.photos[0]) %>);
              background-size: cover;
              background-position: center;
              height: 180px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              font-size: 24px;
              font-weight: bold;
              text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
              border-radius: 5px;
              box-shadow: 0 0 15px rgba(0,0,0,0.2)">
              <%= project.company %>
            </div>
            <div class="card-trip-infos">
              <div>
                <h2><%= project.name %></h2>
                <span><i><%= project.technologies %></i></span>
                <p><%= project.description.truncate_words(20) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
