<!DOCTYPE html>
<html>
  <head>
    <title>HackatonProject2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link href="lib-digne/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib-digne/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib-digne/lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib-digne/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib-digne/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib-digne/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="./style.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="../src/assets/static/logo.png" type="image/png/ico" id='favicon' rel="shortcut icon">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
